article p {
    color: white;
}
article{
    text-align: center;
  }
  img {
    max-width:100%;
    height:auto;
}
body {
  background: linear-gradient(35deg, #f9fd0a, #212201);
  }
  h1{
    text-align: center;
  }
 nav{
border:solid;
border-width: 8px;
border-color: black;
border-radius: 12px;
text-align: center;
 }
 